/* app css stylesheet */
body {
    font-family: sans-serif;
    text-align: center;
}

a {
  text-decoration: none;
}

button, a {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    border-width: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0.2em;
}

input {
    width: 300px;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

textarea {
    width: 300px;
    height: 100px;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

span {
    white-space: pre-wrap;
}

footer {
   position:absolute;
   bottom:0;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.btn-main {
    font-size: 26px;
    color: green;
}

.btn-small, a {
    font-size: 14px;
    color: blue;
}

.post {
    text-align: left;
    width: 500px;  
}
